<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="lineNumber">Order Id</label>
      <input type="text" class="form-control" id="orderID" name="orderID" value="<%= orderLineItem.orderID %>">
    </div>
    <div class="form-group">
      <label for="lineNumber">lineNumber</label>
      <input type="text" class="form-control" id="lineNumber" name="lineNumber" value="<%= orderLineItem.lineNumber %>">
    </div>
    <div class="form-group">
      <label for="productKey">productKey</label>
      <input  type="text" class="form-control" id="productKey" name="productKey" value="<%= orderLineItem.productKey %>" required>
    </div>
    <div class="form-group">
      <label for="quantity">quantity</label>
      <input  type="text" class="form-control" id="quantity" name="quantity" value="<%= orderLineItem.quantity %>" required>
    </div>
  </div>
</div>
<hr>