<!-- <li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% include about_details %>
      <li role="separator" class="divider"></li>
      <li class="dropdown-submenu">
        <a href="#">Mentors <span class="caret"></span> </a>
        <ul class="dropdown-menu">
          <li><a href="#">Instructor Alice</a></li>
          <li><a href="#">Instructor Bert</a></li>
          <li><a href="#">Instructor Connie</a></li>
          <li><a href="#">Instructor Doug</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Assistant Sue</a></li>
          <li><a href="#">Assistant Ken</a></li>
          <li><a href="#">Assistant Betty</a></li>
        </ul>
      </li>
  </ul>
</li> -->