<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">FoodMart</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
              </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="https://obscure-scrubland-63043.herokuapp.com/index">Bijjam Venkata Sai Karthik Reddy</a></li>
                  <li><a href="https://serene-peak-67837.herokuapp.com/index">Ramesh Nutulapathi</a></li>
                  <li><a href="https://gouthamipage.herokuapp.com/index">Gouthami Pasham</a></li>
                </ul>
              </li>
          <li>
            <a href="https://foodmart1.herokuapp.com/customer">Customers</a>
          </li>
          <li>
            <a href="https://foodmart1.herokuapp.com/orders">Orders</a>
          </li>
          <li>
            <a href="https://foodmart1.herokuapp.com/product">Products</a>
          </li>
          <li>
            <a href="https://foodmart1.herokuapp.com/orderLineItems">OrderLine Items</a>
          </li>
         
        </ul>

      </div>
    </div>
  </nav>
</div>