<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>Home page</h1>
      <br/>
      <h2>Use this area to display information. </h2>
      <br/>
      <hr>
      <h3>During development, test your api here.</h3>
      <br/>
      <br/>
      <h4>GET a view</h4>
      <ol>
        <li>
          <a href="https://foodmart1.herokuapp.com/customer">http://localhost:8089/customers</a>
        </li>
        <li>
          <a href="https://foodmart1.herokuapp.com/customer/create">http://localhost:8089/customers/create</a>
        </li>

        <li>
          <a href="https://foodmart1.herokuapp.com/customer/edit">http://localhost:8089/customers/edit</a>
        </li>
        <!-- <li>
          <a href="http://localhost:8089/customers/edit/2">http://localhost:8089/customers/edit/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/customers/edit/3">http://localhost:8089/customers/edit/3</a>
        </li> -->

        <li>
          <a href="https://foodmart1.herokuapp.com/customer/delete">http://localhost:8089/customers/delete</a>
        </li>
        <!-- <li>
          <a href="http://localhost:8089/customers/delete/2">http://localhost:8089/customers/delete/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/customers/delete/3">http://localhost:8089/customers/delete/3</a>
        </li> -->

        <li>
          <a href="https://foodmart1.herokuapp.com/customer/details">http://localhost:8089/customers/details</a>
        </li>
        <!-- <li>
          <a href="http://localhost:8089/customers/details/2">http://localhost:8089/customers/details/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/customers/details/3">http://localhost:8089/customers/details/3</a>
        </li> -->

      </ol>
      <br/>
      <h4>GET JSON</h4>
      <ol>

        <li>
          <a href="http://localhost:8089/customer/findall">http://localhost:8089/customers/findall</a>
        </li>
        <!-- <li>
          <a href="http://localhost:8089/customers/findone/1">http://localhost:8089/customers/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/customers/findone/2">http://localhost:8089/customers/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/customers/findone/3">http://localhost:8089/customers/findone/3</a>
        </li> -->

      </ol>


    </div>
  </div>
</div>