<br/>
<br/>
<h2>Confirm deletion of Product</h2>
<br/>
<br/> ID:
<%=  product._id %>
  <br> Product Name:
  <%=product.productKey %>
    <br/> Product Description:
    <%=product.productdescription%>
    <br/> Product Price Per Unit:
      <%=product.pricePerUnit%>
     <br/>Product Rating:
      <%=product.ratings%>
   <br/>   
            <br/>
            <br/>

            <form method="get" action="/product">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/product/delete/<%= product._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>