<br/>
<br/>
<h2>Product details</h2>
<br/> ID:
<%=  product._id %>
  <br> Product Name:
  <%=product.productKey %>
    <br/> Product Description:
    <%=product.productdescription%>
    <br/> Product Price Per Unit:
      <%=product.pricePerUnit%>
     <br/>Product Rating:
      <%=product.ratings%>
   <br/>   
          
            <br/>
            <br/>
            <form method="get" action="/product">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>