<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
        
      <div class="form-group">
        <label for="productKey">Product Name</label>
        <input type="text" class="form-control" id="productKey" name="productKey" value="<%= product.productKey %>" required>
      </div>
      <div class="form-group">
        <label for="productdescription">Product Description</label>
        <input type="text" class="form-control" id="productdescription" name="productdescription" value="<%= product.productdescription %>" required>
      </div>
      <div class="form-group">
        <label for="pricePerUnit">Product Price Per Unit</label>
        <input type="text" class="form-control" id="pricePerUnit" name="pricePerUnit" value="<%= product.pricePerUnit %>" required>
      </div>
      <div class="form-group">
        <label for="ratings">Product Rating</label>
        <input type="text" class="form-control" id="ratings" name="ratings" value="<%= product.ratings %>" required>
      </div>
    </div>
  </div>