<br/>
<br/>
<br />
<br />
<h2>Order details</h2>
<br />
<br />
ID: <%= orders._id %> <br />
datePlaced: <%=orders.datePlaced%> <br />
dateShipped: <%=orders.dateShipped%> <br />
paymentType: <%=orders.paymentType%> <br />
paid: <%=orders.paid%> <br />
<br />
<form method="get" action="/orders">
  <input type="submit" value="Return to list" class="btn btn-caution" />
</form>