<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
      <a href="orders/create" class="btn btn-primary new">
        Create a new order
      </a>
      <h2>Recent order entries</h2>
      <p>There are <%= orders.query.length %> orders. <br /></p>
      <% for ( let i = 0; i < orders.query.length; i++) { order =
      orders.query[i]; %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">
          Order ID: <%= order._id %> <br />
          Date Placed: <%=order.datePlaced%> <br />
          Date Shipped: <%=order.dateShipped%> <br />
          Payment Type: <%=order.paymentType%> <br />
          Paid: <%=order.paid%> <br />
          <br />

          <a href="/orders/delete/<%= order._id  %>" class="btn btn-danger">
            Delete
          </a>
          <a href="/orders/details/<%= order._id %>" class="btn btn-info">
            Details
          </a>
          <a href="/orders/edit/<%= order._id %>" class="btn btn-warning">
            Edit
          </a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>