<!-- main -->
<div class="row">
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="datePlaced">datePlaced</label>
      <input
        type="date"
        class="form-control"
        id="datePlaced"
        name="datePlaced"
        value="<%= order.datePlaced %>"
        required
      />
    </div>
    <div class="form-group">
      <label for="dateShipped">dateShipped</label>
      <input
        type="date"
        class="form-control"
        id="dateShipped"
        name="dateShipped"
        value="<%= order.dateShipped%>"
        required
      />
    </div>
    <div class="form-group">
      <label for="paymentType">Payment Type</label>
      <select
        class="form-control"
        id="paymentType"
        name="paymentType"
        dateShipped="paymentType"
        value="select"
        required
      >
        <option value="no selection">Select</option>
        <option value="cash">Cash</option>
        <option value="credit card">Credit Card</option>
        <option value="check">Check</option>
      </select>
    </div>
    <div class="form-group">
      <label for="paid">Paid</label>
      <select
        class="form-control"
        id="paid"
        name="paid"
        dateShipped="paid"
        value="select"
      >
        <option value="no selection">Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
  </div>
</div>
